<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Home Page</title>

    <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" type="text/css" />
    <link rel="stylesheet" href="/vendor/border-box.css" type="text/css" />

    <link href="https://fonts.googleapis.com/css2?family=Comic+Neue:wght@400;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <link rel="stylesheet" href="/styles/layout.css" type="text/css" />

    <script type="text/javascript" src="/vendor/jquery-3.0.0.js"></script>
    <script type="text/javascript" src="/scripts/app.js"></script>
  </head>
  <body>
    <div class="wrapper">
      <header>
         <nav>
            <div class="menu-icon">
               <i class="fa fa-bars fa-2x"></i>
            </div>
            <div class="logo">
               Story_Writer.
            </div>
            <div class="menu">
               <ul>
                  <li><a href="#">Home</a></li>
                  <li><a href="#">My Stories</a></li>
                  <li><a href="#">Contributions</a></li>
                  <!-- <li><a href="#">Contact</a></li>
                  <li><a href="#">Contact</a></li>
                  <li><a href="#">Contact</a></li> -->
               </ul>
            </div>
         </nav>
         <section class="compose-story">
          <div class="error-panel">
            <p class="error"></p>
          </div>
          <h2 class="tagline"><span class="highlight">Create.</span> Collaborate.</h2>
          <form id="new-story" method="POST" action="/tweets/">
            <textarea name="text" id="tweet-text" placeholder="Start your story..."></textarea>
            <input name="cover-image" placeholder="Cover image URL">
            <div>
              <button id="submit-story" type="submit">Post Story</button>
            </div>
          </form>
        </section>
      </header>
      <main class="content">
          <!-- Grid row -->
          <div class="grid">
           <figure class="effect-sadie">
             <img src="https://www.estliving.com/wp-content/uploads/2017/05/est-living-interiors-pinterest-home-10.jpg" alt="img01"/>
             <figcaption>
               <h2>Nice <span>Lily</span></h2>
               <p>Lily likes to play with crayons and pencils</p>
               <a href="#">View more</a>
             </figcaption>
           </figure>
           <figure class="effect-sadie">
             <img src="https://www.estliving.com/wp-content/uploads/2017/05/est-living-interiors-pinterest-home-10.jpg" alt="img01"/>
             <figcaption>
               <h2>Nice <span>Lily</span></h2>
               <p>Lily likes to play with crayons and pencils</p>
               <a href="#">View more</a>
             </figcaption>
           </figure>
         </div>
         <div class="grid">
           <figure class="effect-sadie">
             <img src="https://www.estliving.com/wp-content/uploads/2017/05/est-living-interiors-pinterest-home-10.jpg" alt="img01"/>
             <figcaption>
               <h2>Nice <span>Lily</span></h2>
               <p>Lily likes to play with crayons and pencils</p>
               <a href="#">View more</a>
             </figcaption>
           </figure>
           <figure class="effect-sadie">
             <img src="https://www.estliving.com/wp-content/uploads/2017/05/est-living-interiors-pinterest-home-10.jpg" alt="img01"/>
             <figcaption>
               <h2>Nice <span>Lily</span></h2>
               <p>Lily likes to play with crayons and pencils</p>
               <a href="#">View more</a>
             </figcaption>
           </figure>
         </div>
      </main>
    </div>
  </body>
</html>
