html, body {
  margin: 0;
  padding: 0;
  width: 100%;
}

body{
  font-family: 'Comic Neue', cursive;
}

.logo,
h1,
h2,
h3,
h4 {
  font-family: 'Archivo Black', sans-serif;
  margin: 10px 0;
}

h2{
  font-size: 5em;
}
h3{
  font-size:3em;
}

header {
  width:100%;
  height: 100vh;
  background: #FEFAE0;
  background-size: cover;
}

section.compose-story{
  display:flex;
  background: #FEFAE0;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.compose-story #new-story{
  display:flex;
  flex-direction:column;
}

.tagline{
  color:#606C38;

}

.tagline .highlight{
  color:#BC6C25;
}

.title-tagline{
  color:#BC6C25;
}

.all-stories-heading{
  color:#FEFAE0;
  font-size:3em;
  text-align:center;
}
.my-stories-heading,
.contributions-heading{
  color:#BC6C25;
  font-size:3em;
  text-align:center;
}
.compose-story input{
  margin: 5px 0;
  /* border-radius: 3px; */
  padding: 5px;
  border:1px solid #BC6C25;
}
.compose-story textarea{
  width: 650px;
  height: 200px;
  margin: 5px 0;
  /* border-radius: 3px; */
  padding: 5px;
  border:1px solid #BC6C25;
  resize:none;
}

#submit-story{
  background-color:#BC6C25;
  border:none;
  border-radius: 5px;
  color:#FEFAE0;
  padding: 3px 5px;
  margin: 5px;
}

#submit-story:hover {
  background-color:#DDA15E;
}

.content {
  background:#606C38;
  width: 100%;
  margin: 0 auto;
  font-size: 20px;
  line-height: 30px;
  text-align: justify;
  position: absolute;
  z-index:-1;
  padding: 30px;
}

.stories{
  padding-top: 100px;
}

.my-stories {
  min-height:100%;
  background:#FEFAE0;
}

.story-container{
  width:90%;
  margin:30px auto;
}

.logo {
  line-height: 60px;
  position: fixed;
  float: left;
  margin: 16px 46px;
  color:#283618;
  font-weight: bold;
  font-size: 20px;
  letter-spacing: 2px;
}

nav {
  position: fixed;
  width: 100%;
  line-height: 60px;
}

nav ul {
  line-height: 60px;
  list-style: none;
  background: rgba(0, 0, 0, 0);
  overflow: hidden;
  color: #fff;
  padding: 0;
  text-align: right;
  margin: 0;
  padding-right: 40px;
  transition: 1s;
}

nav ul li {
  display: inline-block;
  padding: 16px 40px;
}

nav ul li a {
  text-decoration: none;
  color:#283618;
  font-size: 16px;
}


nav ul li:hover a {
  text-decoration: none;
  color:#283618;
}

nav.black ul {
  background: #283618;
}

nav.black .logo,
nav.black ul li a {
  color:#FEFAE0;
}

.menu-icon {
  line-height: 60px;
  width: 100%;
  background: #000;
  text-align: right;
  box-sizing: border-box;
  padding: 15px 24px;
  cursor: pointer;
  color: #fff;
  display: none;
}

.grid {
	position: relative;
	margin: 0 auto;
	padding: 1em 0 4em;
	max-width: 1000px;
	list-style: none;
	text-align: center;
}

/* Common style */
.grid figure {
	position: relative;
	float: left;
	overflow: hidden;
	margin: 10px 1%;
	min-width: 320px;
	max-width: 480px;
	max-height: 360px;
	width: 48%;
	background: #3085a3;
	text-align: center;
	cursor: pointer;
}

.grid figure img {
	position: relative;
	display: block;
	min-height: 100%;
	max-width: 100%;
	opacity: 0.8;
}

.grid figure figcaption {
	padding: 2em;
	color: #fff;
	text-transform: uppercase;
	font-size: 1.25em;
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
}

.grid figure figcaption::before,
.grid figure figcaption::after {
	pointer-events: none;
}

.grid figure figcaption,
.grid figure figcaption > a {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

/* Anchor will cover the whole item by default */
/* For some effects it will show as a button */
.grid figure figcaption > a {
	z-index: 1000;
	text-indent: 200%;
	white-space: nowrap;
	font-size: 0;
	opacity: 0;
}

.grid figure h4 {
	word-spacing: -0.15em;
  font-weight: 300;
}

.grid figure h4 span {
	font-weight: 800;
}

.grid figure h4,
.grid figure p {
	margin: 0;
}

.grid figure p {
	letter-spacing: 1px;
	font-size: 68.5%;
}

figure.effect-sadie figcaption::before {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: -webkit-linear-gradient(top, rgba(72,76,97,0) 0%, rgba(72,76,97,0.8) 75%);
	background: linear-gradient(to bottom, rgba(72,76,97,0) 0%, rgba(72,76,97,0.8) 75%);
	content: '';
	opacity: 0;
	-webkit-transform: translate3d(0,50%,0);
	transform: translate3d(0,50%,0);
}

figure.effect-sadie h4,
figure.effect-sadie i{
	position: absolute;
	top: 50%;
	left: 0;
	width: 100%;
	color:#FEFAE0;
	-webkit-transition: -webkit-transform 0.35s, color 0.35s;
	transition: transform 0.35s, color 0.35s;
	-webkit-transform: translate3d(0,-50%,0);
	transform: translate3d(0,-50%,0);
}
figure.effect-sadie i{
  top: 70%;
}

figure.effect-sadie figcaption::before,
figure.effect-sadie p {
	-webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
	transition: opacity 0.35s, transform 0.35s;
}

figure.effect-sadie p {
	position: absolute;
	bottom: 0;
	left: 0;
	padding: 2em;
	width: 100%;
	opacity: 0;
	-webkit-transform: translate3d(0,10px,0);
	transform: translate3d(0,10px,0);
}

figure.effect-sadie:hover h4 {
	color:#FEFAE0;
	-webkit-transform: translate3d(0,-50%,0) translate3d(0,-40px,0);
	transform: translate3d(0,-50%,0) translate3d(0,-40px,0);
}
figure.effect-sadie:hover i{
  -webkit-transform: translate3d(0,-50%,0) translate3d(0,-40px,0);
	transform: translate3d(0,-50%,0) translate3d(0,-40px,0);
}

figure.effect-sadie:hover figcaption::before ,
figure.effect-sadie:hover p {
	opacity: 1;
	-webkit-transform: translate3d(0,0,0);
	transform: translate3d(0,0,0);
}

.status{
  color:#BC6C25;
  font-size: 15px;
  font-weight: 300;
}

.story-container section{
  margin:1.5em 0;
}

.favourite-container{
  display:flex;
  flex-direction: row;
  text-align:right;
}
.contribution-form textarea{
  width: 650px;
  height: 150px;
  margin: 5px 0;
  border-radius: 3px;
  padding: 5px;
  border:1px solid #BC6C25;
  resize:none;
}

.approved-contributions .card{
  margin: 10px 0;
  border-radius: 0;
  border:1px solid #BC6C25;
  box-shadow: 0 6px 10px rgba(0,0,0,.08), 0 0 6px rgba(0,0,0,.05);
  transition: .3s transform cubic-bezier(.155,1.105,.295,1.12),.3s box-shadow,.3s -webkit-transform cubic-bezier(.155,1.105,.295,1.12);
}

.approved-contributions .card-body{
  font-size: 15px;
  /* padding: 0.5rem; */

  border-radius: 0;
}
.approved-contributions .card-body .user{
  font-size: 15px;
}

button.approve-contribution{
  color:#FEFAE0;
  border:none;
  background:#BC6C25;
  border-radius:3px;
}

.modal-header,
.modal-footer{
  border:none;
}

.modal-content{
  background:#FEFAE0;
}

#exampleModal textarea{
  width: 100%;
  height: 200px;
  margin: 5px 0;
  border-radius: 3px;
  padding: 5px 10px;
  border:1px solid #BC6C25;
  resize:none;
}

.orange{
  background:#BC6C25;
  color:#FEFAE0;
  border:none;
  border-radius:3px;
}

button.orange .fa-chevron-right{
  font-size: 15px;
}

.voted{
  color:#BC6C25;
}

.secondary{
  background:#606C38;
  color:#FEFAE0;
  border:none;
  border-radius:3px;
}

.my-contributions .card,
.unapproved-contributions .card{
  border:0.5px solid #BC6C25;
  max-width: 400px;
  font-size: 15px;
  margin: 5px;
  border-radius:0;
  box-shadow: 0 6px 10px rgba(0,0,0,.08), 0 0 6px rgba(0,0,0,.05);
  transition: .3s transform cubic-bezier(.155,1.105,.295,1.12),.3s box-shadow,.3s -webkit-transform cubic-bezier(.155,1.105,.295,1.12);
  color:#283618;
}

.card:hover{
  box-shadow: 0px 15px 26px rgba(0, 0, 0, 0.50);
  -webkit-transition: all 0.2s ease-in;
  -moz-transition: all 0.2s ease-in;
  -ms-transition: all 0.2s ease-in;
  -o-transition: all 0.2s ease-in;
  transition: all 0.2s ease-in;
}

.read-more{
  display:none;
  color:#283618;
}

.read-more:hover{
  text-decoration:none;
  color:#BC6C25;
}

.card:hover .read-more{
  display:inline;
}

.my-contributions .card a,
.unapproved-contributions .card a{
  text-align:right;
  float:right;
}

.like-counter{
  margin-left: 5px;
}

i:hover.fa-thumbs-up,
i:hover.fa-heart{
  color:#BC6C25;
}


.text-muted{
  font-size:15px;
}

.row{
  margin:0;
}

.create-at{
  float:right;
}

.error-panel {
  background-color: red;
  border-radius: 3px;
  padding: 0.2em;
  color: #FEFAE0;
  width: 100%;
  text-align: center;
}

.cover-image {
  object-fit: cover;
  width: 480px;
}

.story-preview {
  height: 260px;
}

#main-nav {
  z-index: 10;
}

.jumbotron{
  position:relative;
}

.jumbotron .container{
  position:relative;
  z-index:100;
}

.jumbotron .overlay{
  backdrop-filter: blur(6px);
  height:100%;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  z-index:0;
  background: rgba(0, 0, 0, 0.73);
  font-size: 50px;
  text-align: center;
  line-height: 100px;
}
